<div class="image">

<div  >
  <div fxLayout="row" fxLayoutAlign="end end" fxFlex="61">
    <label style="color: orangered;font-size: 70px;font-family: Montserrat">TDSSMYM</label>

  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="39">
    
<mat-card  class="avatar" style="border: 2px solid orangered" fxLayout="row" fxLayoutAlign="center center" routerLink="/" >
  
    <div style="color: royalblue;font-size: 25px;">{{this.letteer}}</div>
  
</mat-card>
<div style="padding-top: 10%;"></div>

  </div>
</div>

<div style="padding-top: 0.5%;"></div>




<div style="padding-top: 3%;"></div>



<div>
<div id="nana"  fxLayout="row"  fxLayoutAlign="center center">
  <mat-card style="background-color:orangered" fxFlex="30" routerLink="/Farmers">
      <mat-card-content fxLayout="row" fxLayoutAlign="center center">
        <img height="30" width="30" src="../src/assets/supervisor_account-white-18dp.svg"> <p class="mat-display-1" style="color: white;font-family: Bitter" >
         &nbsp;Farmers
        </p>
      </mat-card-content>
      <!-- <mat-card-subtitle fxLayout="row" fxLayoutAlign="center  center" class="mat-h6"
        style="color: white;font-size: 100px" (click)="ordercomp()">0</mat-card-subtitle>
      rgb(35, 21, 240)
      -->
  

  </mat-card>
</div>

<div style="padding-top: 5%;">

</div>

<div id="nana"  fxLayout="row"  fxLayoutGap="70px" fxLayoutAlign="center center">
  <mat-card style="background-color:limegreen" fxFlex="30" routerLink="/CropReport">
      <mat-card-content fxLayout="row" fxLayoutAlign="center center">
        <img height="30" width="30" src="../src/assets/rule_folder-white-18dp.svg">    <p class="mat-display-1" style="color: white;font-family: Bitter" >
         &nbsp;Indents
        </p>
      </mat-card-content>
      <!-- <mat-card-subtitle fxLayout="row" fxLayoutAlign="center  center" class="mat-h6"
        style="color: white;font-size: 100px" (click)="ordercomp()">0</mat-card-subtitle> -->
  

  </mat-card>

  <mat-card style="background-color:limegreen" fxFlex="30" fxFlex.xs="100" routerLink="/MarketReport">
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
      <img height="30" width="30" src="../src/assets/storefront-white-18dp.svg">  <p class="mat-display-1" style="color: white;font-family: Bitter">
          Market Data
        </p>
     
    </mat-card-content>

  </mat-card>


 

  

  <!-- <mat-card style="background-color: brown" fxFlex="25" fxFlex.xs="100" routerLink="/queries">
    <mat-card-content fxLayout="row" fxLayoutAlign="center  center"  >

        <p class="mat-display-1" style="color: white;font-family: 'Bitter', sans-serif">
          <mat-icon>supervised_user_circle</mat-icon>User Queries
        </p>

    </mat-card-content>

  </mat-card> -->
</div>



<div style="padding-top: 4%;"></div>


<div id="nana"  fxLayout="row" fxLayoutGap="70px" fxLayoutAlign="center center">
    





    <mat-card style="background-color:limegreen" fxFlex="30" fxFlex.xs="100"  routerLink="/MulberyReport">
      <mat-card-content fxLayout="row" fxLayoutAlign="center center">
        <img height="30" width="30" src="../src/assets/eco-white-18dp.svg">  <p class="mat-display-1" style="color: white;font-family: Bitter">
            Mulberry Data
          </p>
 </mat-card-content>
</mat-card>

    <!-- <mat-card style="background-color: brown" fxFlex="25" fxFlex.xs="100" routerLink="/queries">
      <mat-card-content fxLayout="row" fxLayoutAlign="center  center"  >
  
          <p class="mat-display-1" style="color: white;font-family: 'Bitter', sans-serif">
            <mat-icon>supervised_user_circle</mat-icon>User Queries
          </p>

      </mat-card-content>

    </mat-card> -->
  </div>


  

</div>
</div>